*{
  
  box-sizing: border-box;
  color: #393c41;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');


body{ 
  width: 100%;
  overflow-x: hidden;
  font-family: 'Patrick Hand SC', cursive;
}



a{
  text-decoration: none;
}
@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  40% {
    transform: translateY(3px);
  }
}